<div class='sign-in-and-sign-up'>
    <div class='sign-in'>
        <h2>I already have an account</h2>
        <span>Sign in with your email and password</span>
        
        <form>
            <div class="group">
              <input class="form-input"
                name='email'
                type='email'
                label='email'
                required
              />
              <label>Email</label>
              <input class="form-input"
                name='password'
                type='password'
                label='password'
                required
              />
              <label>Password</label>
              </div>
          <button class='custom-button' type='submit'> Sign in </button>
        </form>
      </div>
  </div>
