<div class='collection-preview'>
    <h1 class='title'>HATS</h1>
    <div class='preview'> 
        <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/ZYW3VTp/brown-brim.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Brown Brim</span>
              <span class='price'>25</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/ypkgK0X/blue-beanie.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Blue Beanie</span>
              <span class='price'>18</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/QdJwgmp/brown-cowboy.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Brown Cowboy</span>
              <span class='price'>35</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/RjBLWxB/grey-brim.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Grey Brim</span>
              <span class='price'>25</span>
            </div>
          </div>
    </div>
  </div>
  <div class='collection-preview'>
    <h1 class='title'>SNEAKERS</h1>
    <div class='preview'> 
        <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/0s3pdnc/adidas-nmd.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Adidas NMD</span>
              <span class='price'>250</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/dJbG1cT/yeezy.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Adidas Yeezy</span>
              <span class='price'>180</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/bPmVXyP/black-converse.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Black Converse</span>
              <span class='price'>350</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/1RcFPk0/white-nike-high-tops.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Nike White AirForce</span>
              <span class='price'>250</span>
            </div>
          </div>
    </div>
  </div>
  <div class='collection-preview'>
    <h1 class='title'>JACKETS</h1>
    <div class='preview'> 
        <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/XzcwL5s/black-shearling.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Black Jean Shearling</span>
              <span class='price'>150</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/mJS6vz0/blue-jean-jacket.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Blue Jean Jacket</span>
              <span class='price'>80</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/N71k1ML/grey-jean-jacket.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Grey Jean Jacket</span>
              <span class='price'>90</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/s96FpdP/brown-shearling.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Brown Shearling</span>
              <span class='price'>150</span>
            </div>
          </div>
    </div>
  </div>
  <div class='collection-preview'>
    <h1 class='title'>WOMENS</h1>
    <div class='preview'> 
        <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/7CQVJNm/blue-tank.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Blue Tanktop</span>
              <span class='price'>15</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/4W2DGKm/floral-blouse.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Floral Blouse</span>
              <span class='price'>21</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/KV18Ysr/floral-skirt.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Floral Dress</span>
              <span class='price'>90</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/N3BN1bh/red-polka-dot-dress.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Red Dots Dress</span>
              <span class='price'>150</span>
            </div>
          </div>
    </div>
  </div>
  <div class='collection-preview'>
    <h1 class='title'>MENS</h1>
    <div class='preview'> 
        <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/xJS0T3Y/camo-vest.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Camo Down Vest</span>
              <span class='price'>315</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/qMQ75QZ/floral-shirt.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Floral T-shirt</span>
              <span class='price'>21</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/55z32tw/long-sleeve.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Black & White Longsleeve</span>
              <span class='price'>34</span>
            </div>
          </div>
          <div class='collection-item'>
            <div class='image'
            [ngStyle]="{'background-image': 'url(https://i.ibb.co/RvwnBL8/pink-shirt.png)'}"
            ></div>
            <div class='collection-footer'>
              <span class='name'>Pink T-shirt</span>
              <span class='price'>15</span>
            </div>
          </div>
    </div>
  </div>