<div class="homepage">
    <div class="directory-menu">
        <div class="menu-item">
        <div class="background-image" [ngStyle]="{'background-image': 'url(https://i.ibb.co/cvpntL1/hats.png)'}"></div>
            <div class="content">
                <h1 class="title">HATS</h1>
                <span class="subtitle">SHOP NOW</span>
            </div>
        </div>
        <div class="menu-item">
            <div class="background-image" [ngStyle]="{'background-image': 'url(https://i.ibb.co/px2tCc3/jackets.png)'}"></div>
            <div class="content">
                <h1 class="title">JACKETS</h1>
                <span class="subtitle">SHOP NOW</span>
            </div>
        </div>
        <div class="menu-item">
            <div class="background-image" [ngStyle]="{'background-image': 'url(https://i.ibb.co/0jqHpnp/sneakers.png)'}"></div>
            <div class="content">
                <h1 class="title">SNEAKERS</h1>
                <span class="subtitle">SHOP NOW</span>
            </div>
        </div>
        <div class="menu-item large">
            <div class="background-image" [ngStyle]="{'background-image': 'url(https://i.ibb.co/GCCdy8t/womens.png)'}"></div>
            <div class="content">
                <h1 class="title">WOMENS</h1>
                <span class="subtitle">SHOP NOW</span>
            </div>
        </div>
        <div class="menu-item large">
            <div class="background-image" [ngStyle]="{'background-image': 'url(https://i.ibb.co/R70vBrQ/men.png)'}"></div>
            <div class="content"> 
                <h1 class="title">MENS</h1>
                <span class="subtitle">SHOP NOW</span>
            </div>
        </div>
    </div>
</div>
